<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../public/css/app.css" />
    <script src="../public/js/viewContact.js"></script>
    <title id="view-contact-title">Contact List:</title>
  </head>
  <body onload="setupNewContactPage()">
    <h1 id="view-contact-header">Contact List:</h1>
    <dl id="view-contact-info">
      <dt>
        <label>First name:</label>
      </dt>
      <dd id="view-first-name"></dd>
      <dt>
        <label>Last name:</label>
      </dt>
      <dd id="view-last-name"></dd>
      <dt>
        <label>Email:</label>
      </dt>
      <dd id="view-email"></dd>
      <dt>
        <label>Phone number:</label>
      </dt>
      <dd id="view-phone-number"></dd>
      <dt>
        <label>Notes:</label>
      </dt>
      <dd id="view-notes"></dd>
    </dl>
    <a id="view-return-home" href="/">List of contacts</a>
    <a id="view-edit-contact" href="/new">Edit contact</a>
    <span id="view-delete-contact" onclick="deleteContactById()">Delete contact</span>
  </body>
</html>
