<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="../public/css/app.css" />
    <script src="../public/js/newContact.js"></script>
    <title id="view-contact-title">Contact List:</title>
  </head>
  <body>
    <h1 id="view-contact-header">Contact List:</h1>
    <dl>
      <dt>
        <label>First name:</label>
      </dt>
      <dd>
        <p>Test</p>
      </dd>
      <dt>
        <label>Last name:</label>
      </dt>
      <dd>
        <p>Test</p>
      </dd>
      <dt>
        <label>Email:</label>
      </dt>
      <dd>
        <p>Test</p>
      </dd>
      <dt>
        <label>Phone number:</label>
      </dt>
      <dd>
        <p>Test</p>
      </dd>
      <dt>
        <label>Notes:</label>
      </dt>
      <dd>
        <p>Test</p>
      </dd>
    </dl>
  </body>
</html>
